absl-py
accelerate
aiohappyeyeballs
aiohttp
aiosignal
alembic
aliyun-python-sdk-core
aliyun-python-sdk-kms
altgraph
annotated-doc
annotated-types
antlr4-python3-runtime
anyio
asteroid
asteroid-filterbanks
asttokens
attrs
audioread
av
beautifulsoup4
braceexpand
cached-property
certifi
cffi
charset-normalizer
clearvoice
click
cloudpickle
colorama
colorlog
contourpy
crcmod
cryptography
ctranslate2
cycler
cytoolz
datasets
decorator
dill
distro
editdistance
einops
et-xmlfile
executing
faster-whisper
fiddle
filelock
flatbuffers
fonttools
frozenlist
fsspec
funasr
future
gdown
gitdb
gitpython
googleapis-common-protos
graphviz
greenlet
grpcio
h11
hdbscan
hf-xet
httpcore
httpx
huggingface-hub
hydra-core
hyperpyyaml
idna
imageio-ffmpeg
importlib-metadata
indic-numtowords
inflect
intervaltree
ipython
ipython-pygments-lexers
jaconv
jamo
jedi
jieba
jinja2
jiter
jiwer
jmespath
joblib
julius
kaldi-python-io
kaldialign
kaldiio
kiwisolver
lazy-loader
lhotse
libcst
librosa
lightning
lightning-utilities
lilcom
llvmlite
mako
markdown
markdown-it-py
markupsafe
marshmallow
matplotlib
matplotlib-inline
mdurl
mediapy
megatron-core
mir-eval
ml-dtypes
mlx; platform_system == "Darwin"
mlx-whisper; platform_system == "Darwin"
modelscope
more-itertools
mpmath
msgpack
multidict
multiprocess
nemo-toolkit
networkx
numba
numexpr
numpy
omegaconf
onnx==1.20.1
onnxruntime
openai
opencv-python
openpyxl
opentelemetry-api
opentelemetry-exporter-otlp
opentelemetry-exporter-otlp-proto-common
opentelemetry-exporter-otlp-proto-grpc
opentelemetry-exporter-otlp-proto-http
opentelemetry-proto
opentelemetry-sdk
opentelemetry-semantic-conventions
optuna
oss2
overrides
packaging
pandas
parso
pb-bss-eval
pdfkit
pefile; platform_system == "Windows"
peft
pesq
pillow
platformdirs
playwright
pooch
primepy
prompt-toolkit
propcache
protobuf
psutil
pure-eval
pyannote-audio
pyannote-core
pyannote-database
pyannote-metrics
pyannote-pipeline
pyannoteai-sdk
pyarrow
pybind11
pycparser
pycryptodome
pydantic
pydantic-core
pydeprecate
pydub
pyee
pygments
pyinstaller
pyinstaller-hooks-contrib
pyloudnorm
pynndescent
pyparsing
pyside6
pyside6-addons
pyside6-essentials
pysocks
pystoi
python-dateutil
python-speech-features
pytorch-lightning
pytorch-metric-learning
pytorch-ranger
pytorch-wpe
pytz
pywin32-ctypes; platform_system == "Windows"
pyyaml
rapidfuzz
regex
requests
resampy
rich
rotary-embedding-torch
ruamel-yaml
ruamel-yaml-clib
sacremoses
safetensors
scenedetect
scikit-learn
scipy
sentencepiece
sentry-sdk
shellingham
shiboken6
silero-vad
simplejson
six
smmap
sniffio
sortedcontainers
soundfile
soupsieve
sox
soxr
speechbrain
sqlalchemy
stack-data
strenum
sympy
tabulate
taichi
tensorboard
tensorboard-data-server
tensorboardx
text-unidecode
threadpoolctl
tokenizers
toml
toolz
torch==2.10.0
torch-audiomentations
torch-complex
torch-optimizer
torch-pitch-shift
torch-stoi
torchaudio==2.10.0
torchcodec
torchinfo
torchmetrics
torchvision==0.25.0
tqdm
traitlets
transformers
typeguard
typer
typer-slim
typing-extensions
typing-inspection
tzdata
umap-learn
urllib3
wandb
wcwidth
webdataset
werkzeug
wget
whisper-normalizer
wkhtmltopdf
wrapt
xxhash
yamlargparse
yarl
zipp
